/* Setting fade transition and default settings */
body {
  background-color: #f5f5f5;
  transition: background-color 1s ease;
  animation: fadeIn 2s;
}

.wrapper {
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
  font-family: 'Dosis', sans-serif;
  padding: 0.8rem 5rem;
  /* Seperate brand and items */
  justify-content: space-between;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

.dark-section {
  background: linear-gradient(#222222, #3D3D3D);
  color: #f7f7f7;
}

.light-section {
  background: linear-gradient(#f5f5f5, #f0f1f5);
  color: #616161;
}

/* Landing Page */
.bg-image p {
  /* mix-blend-mode: hard-light; */
  color: #f7f7f7;
}

/* Background Image */
.bg-image {
  background-image: url("../images/lake.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-name {
  -webkit-text-fill-color: transparent;
}

/* About Panel */
.about-me-p {
  text-align: center;
  padding: 2rem;
}

.emoji {
  height: 200px;
  border: 5px solid #c2c2c2;
  border-radius: 100%;
  margin: auto auto 5rem;
  animation: shake 1s infinite linear alternate;
}

@keyframes shake {
  0% {
    transform: rotate(-8deg);
  }

  8% {
    transform: rotate(8deg);
  }

  16% {
    transform: rotate(-8deg);
  }

  24% {
    transform: rotate(8deg);
  }

  32% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(8deg);
  }

  48% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.video-player {
  margin: 0 auto;
  border: 10px outset #8b8c94;
  border-radius: 2%;
}

.speaker-vid {
  margin-top: 4rem;
}

.halo-vid {
  margin-bottom: 4rem;
}

/* Experience Panel */
.logo-pic {
  height: 8rem;
  border-radius: 60%;
  border: 5px solid #c2c2c2;
}

.carousel-item {
  text-align: center;
  border-color: #57b2f2;
}

/* Education Panel */
.comp-sci-pic {
  height: 150px;
  border-radius: 7%;
  float: right;
  margin: 1rem;
}

/* Hobbies Panel */
.hobbies-panel {
  padding: 4rem;
}

/* Text Styling */
body {
  text-align: center;
  font-size: 120%;
  line-height: 1.618;
}

h1, h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
  background: -webkit-linear-gradient(#ffffff, #f7f7f7);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

p {
  max-width: 30em;
  margin: 1.618em;
  text-align: center;
  font-size: 1.3rem;
}

a {
  color: #4332CF;
}

hr {
  border-radius: 90%;
  height: 2px;
  width: 4rem;
  background-color: #f7f7f7;
}

/* colours */
.color-black {
  background-color: #1c1c1c;
  color: #f0f0f0;
}

.color-white {
  background-color: #f5f5f5;
}

/* Footer */
#footer.panel {
  min-height: 30vh;
  height: 100px;
  background-color: #edeff0;
  color: #4f4f52;
}

.social-icon {
  color: #4f4f52;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Mobile Config */
@media only screen and (max-width: 480px) {
  .panel {
    margin: 3rem auto;
    background-attachment: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}
